{% extends "radio/site_base.html" %}
{% load radio_extras %}
{% block main-body %}
<div class="container">
  <div class="row row-no-border">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div id="main-message" style="display: none" class=" alert alert-danger" role="alert">
      </div>
      <h2>{{ object.name }}</h2>
      {% if object.fire_service %}<p><strong>Fire: </strong>{% include "radio/agency_link.html" with agency=object.fire_service %}</p>{% endif %}
      {% if object.police_service %}<p><strong>Police: </strong>{% include "radio/agency_link.html" with agency=object.police_service %}</p>{% endif %}
      {% if object.ems_service %}<p><strong>EMS: </strong>{% include "radio/agency_link.html" with agency=object.ems_service %}</p>{% endif %}
      {% if object.url %}<p><a href="{{ object.url }}" rel="noopener">City website</a></p>{% endif %}
      <p><a href="{% url 'city_list' %}">All cities</a></p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      {% if object.google_maps_url %}
      <iframe class="city-map" src="{{ object.google_maps_url }}" height="300" frameborder="0" allowfullscreen></iframe>
      {% endif %}
    </div>
  </div>
  <hr>
  <footer><p>&copy; {% get_setting 'COPYRIGHT_NOTICE' %} {% get_setting 'SITE_TITLE' %}</p></footer>
</div>
{% endblock %}
