{% extends "radio/site_base.html" %}
{% load radio_extras %}
{% load socialaccount %}
{% block main-body %}
{% get_setting 'OPEN_SITE' as open_site %}
{% get_setting 'ALLOW_GOOGLE_SIGNIN' as allow_google %}
<div class="generic-layout{% if not user.is_authenticated %} with-login{% endif %}">
  <div class="card prose">
{{ html_object.bodytext|safe }}
  </div>
{% if not user.is_authenticated %}
  <aside class="card">
    {% if form.errors %}
    <div class="alert alert-danger">
    Your username and password didn't match. Please try again. If you have an account you can <a href="{% url 'account_reset_password' %}">recover your password</a>.{% if open_site %} Or create a <a href="{% url 'account_signup' %}{% if next %}?next={{ next}}{% endif %}">new account</a>.{% endif %}
    </div>
    {% endif %}

    {% if next %}
    <p>Please log in.</p>
    {% endif %}

    <h2>Log in</h2>
    <form method="post" action="{% url 'login' %}" class="form-stack">
      {% csrf_token %}
      <p><label for="id_username">Username</label><input id="id_username" maxlength="254" name="username" type="text" autocomplete="username"></p>
      <p><label for="id_password">Password</label><input id="id_password" name="password" type="password" autocomplete="current-password"></p>
      <input type="hidden" name="next" value="{{ next }}">
      <div class="form-actions">
        <input type="submit" value="Log in">
        {% if allow_google %}<a href="{% provider_login_url "google" %}"><img src="/static/radio/img/btn_google_signin_dark_normal_web.png" alt="Sign in with Google"></a>{% endif %}
      </div>
    </form>
    {% if open_site %}
    <hr>
    <h2>Create a free account</h2>
    <form method="post" action="{% url 'account_signup' %}" class="form-stack">
      {% csrf_token %}
      <p><label for="id_signup_username">Username</label><input id="id_signup_username" maxlength="30" name="username" type="text" autocomplete="username" required></p>
      <p><label for="id_email">Email address</label><input id="id_email" name="email" type="email" autocomplete="email" required></p>
      <p><label for="id_password1">Password</label><input id="id_password1" name="password1" type="password" autocomplete="new-password" required></p>
      <p><label for="id_password2">Password again</label><input id="id_password2" name="password2" type="password" autocomplete="new-password" required></p>
      <div class="form-actions"><input type="submit" value="Create account"></div>
    </form>
    {% endif %}
  </aside>
{% endif %}
</div>
{% endblock %}
