{% extends "radio/site_base.html" %}
{% load radio_extras %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.js"></script>
<style type="text/css">
#tg-multi{
    width: 600px;
    max-width: 100%;
}
</style>
<script type="text/javascript">
// TalkGroup Data
url3 = '/api_v1/talkgroups/';
function load_tg() {
    $.getJSON(url3, function(data) {
      url3 = data.next;
        for (var a in data.results) {
            $('.tg-multi-select').append($('<option>', {
                 value: data.results[a].slug,
                 text: data.results[a].alpha_tag + (data.results[a].description ? " - " + data.results[a].description : "")
            }));
        }
        $('.tg-multi-select').trigger('change.select2');
      if(url3) {
         load_tg();
      }
    });
}

$(document).ready(function() {
  $(".tg-multi-select").select2({
placeholder: "Enter Talk Groups to Scan"
});

load_tg();

});
</script>
{% endblock %}
{% block main-body %}
<div class="container">
	<div class="row">
		<div id="muti-select" class="col-xs-12">
        <div id="main-message" style="display: none" class=" alert alert-danger" role="alert">
        </div>
			<select id="tg-multi" class="tg-multi-select" multiple="multiple">
			</select>
			<button type="button" onclick="update_scan_list()">Update Scan List</button> 
		</div>
	</div>
	<div class="row">
		<div id="main-data-table" class="col-xs-12">
		</div>
	</div>
        <div id="jPlayer"><div id="jquery_jplayer_1"></div></div>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<footer>
				<p>&copy; {% get_setting 'COPYRIGHT_NOTICE' %} {% get_setting 'SITE_TITLE' %}</p>
			</footer>
		</div>
	</div>
</div>
{% endblock %}
