{% extends "radio/site_base.html" %}
{% load radio_extras %}
{% block main-nav %}
{% include "radio/site_live_nav.html" %}
{% endblock %}
{% block main-body %}
<div class="container">
	<div>
        <div id="main-message" style="display: none" class=" alert alert-danger" role="alert">
        </div>
<h2>Talkgroups in {% if scanlist %}<a href="{{ scanlist.get_absolute_url }}">{{ scanlist.description }}</a>{% else %}<a href="/scan/default/">All Talkgroups</a>{% endif %}</h2>
<div class="table-responsive"><table class="table table-condensed table-hover directory-table">
<thead>
<tr><th>ID</th><th>Alpha</th><th>Short</th><th>Description</th><th>Notes</th></tr>
</thead>
<tbody>
{% for tg in object_list %}
   <tr><td>{% if user.is_staff %}<a href="/admin/radio/talkgroup/{{ tg.pk }}/change/">{{ tg.dec_id }}</a>{% else %}{{ tg.dec_id }}{% endif %}</td><td><a href="{{ tg.get_absolute_url }}">{{ tg.alpha_tag }}</a></td><td>{{ tg.common_name|default:"" }}</td><td>{{ tg.description|default:"" }}</td><td>{% if tg.comments %}{{ tg.comments }}{% else %}&nbsp;{% endif %}</td></tr>
{% endfor %}
</tbody>
</table></div>
	</div>
  {% include "radio/page_footer.html" %}
</div>
{% endblock %}
