{% extends "radio/site_base.html" %}
{% load radio_extras %}
{% block main-body %}
<div class="container">
        <div id="main-message" style="display: none" class=" alert alert-danger" role="alert">
        </div>

	<div class="row">
		<div class="col-xs-12">
    <h1>
    {% get_setting 'SITE_TITLE' %} Audio File
    </h1>
                </div>
	</div>
	<div class="row"> 
		<div class="col-xs-1"></div>
		<div class="col-xs-2"><strong>Start Time</strong></div>
		<div class="col-xs-6">{{ object.start_datetime }}</div>
		<div class="col-xs-4"></div>
	</div>
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-2"><strong>Talk Group</strong></div>
		<div class="col-xs-6">{{ object.talkgroup_info.alpha_tag }}{% if user.is_staff %} <a href="/admin/radio/talkgroup/{{ object.talkgroup_info.pk }}/change/">Edit</a>{% endif %}</div>
		<div class="col-xs-4"></div>
	</div>
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-2"><strong>Talk Group Description</strong></div>
		<div class="col-xs-6">{{ object.talkgroup_info.description }}</div>
		<div class="col-xs-4"></div>
	</div>
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-2"><strong>Frequency</strong></div>
		<div class="col-xs-6">{{ object.freq_mhz }}MHz</div>
		<div class="col-xs-4"></div>
	</div>
        <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-2"><strong>System</strong></div>
                <div class="col-xs-6">{{ object.system }} ({{ object.system.pk }})</div>
                <div class="col-xs-4"></div>
        </div>
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-2"><strong>Source</strong></div>
		<div class="col-xs-6">{{ object.source }}</div>
		<div class="col-xs-4"></div>
	</div>
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-2"><strong>Length</strong></div>
		<div class="col-xs-6">{{ object.print_play_length }}</div>
		<div class="col-xs-4"></div>
	</div>
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-2"><strong>Emergency</strong></div>
		<div class="col-xs-6">{% if object.emergency %}<span class="label label-danger">EMERGENCY</span>{% else %}No{% endif %}</div>
		<div class="col-xs-4"></div>
	</div>
	{% for u in object.units.all %}
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-2"><strong>Unit</strong></div>
		<div class="col-xs-6">{%if u.description %}{{ u.description }}{% else %}#{{ u.dec_id }}{% endif %}{% if user.is_staff %} <a href="/admin/radio/unit/{{ u.pk }}/change/">Edit</a>{% endif %}</div>
		<div class="col-xs-4"></div>
	</div>
	{% endfor %}
        {% if object.duplicate_of %}
        <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-2"><strong>Duplicate</strong></div>
                <div class="col-xs-6">Another recorder also recorded this call, the <a href="{{ object.duplicate_of.get_absolute_url }}">recording from {{ object.duplicate_of.source }}</a> is shown in the call lists</div>
                <div class="col-xs-4"></div>
        </div>
        {% endif %}
        {% with dupes=object.duplicates.all %}{% if dupes %}
        <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-2"><strong>Other recordings</strong></div>
                <div class="col-xs-6">{% for d in dupes %}<a href="{{ d.get_absolute_url }}">{{ d.source }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
                <div class="col-xs-4"></div>
        </div>
        {% endif %}{% endwith %}
        <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-2"><strong>Default Source</strong></div>
                <div class="col-xs-6">{{ object.from_default_source }}</div>
                <div class="col-xs-4"></div>
        </div>
        <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-2"><strong>Has Audio</strong></div>
                <div class="col-xs-6">{{ object.has_audio }}</div>
                <div class="col-xs-4"></div>
        </div>
	{% if user.is_staff %}
        {% if object.audio_file %}
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-2"><strong>File Name</strong></div>
		<div class="col-xs-6"><a href="{{object.audio_url}}{{ object.audio_file }}.{% if object.audio_file_type %}{{ object.audio_file_type }}{% else %}mp3{% endif %}">{{ object.audio_file }}.{% if object.audio_file_type %}{{ object.audio_file_type }}{% else %}mp3{% endif %}</a></div>
		<div class="col-xs-4"></div>
	</div>
	{% endif %}
	{% endif %}
	<div class="row">
                <div class="col-xs-1"></div>
		<div class="col-xs-2">
        {% if object.audio_file %}
<button id="button_{{ object.pk }}" type="button" class="btn play-btn btn-success player-action" data-id="{{ object.pk }}" data-audio-url="{{object.audio_url}}{{ object.audio_file }}.{% if object.audio_file_type %}{{ object.audio_file_type }}{% else %}mp3{% endif %}"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Play </button>
         {% endif %}

</div>
		<div class="col-xs-9"></div>

	</div>
        <div id="jPlayer"><div id="jquery_jplayer_1"></div></div>
	<div class="row">
		<div class="col-xs-12">
			<footer>
				<p>&copy; {% get_setting 'COPYRIGHT_NOTICE' %} {% get_setting 'SITE_TITLE' %}</p>
			</footer>
		</div>
	</div>
</div>
{% endblock %}
