{% extends "radio/site_base.html" %}
{% load radio_extras %}
{% block main-body %}
{% with tg=object.talkgroup_info file_type=object.audio_file_type|default:"mp3" %}
<div class="container call-details">
  <div id="main-message" style="display: none" class=" alert alert-danger" role="alert">
  </div>

  <h2>{{ tg.alpha_tag }} <small>{{ object.local_start_datetime }}</small>
    {% if object.emergency %}<span class="label label-danger emergency-label">EMERGENCY</span>{% endif %}</h2>

  <p class="call-actions">
    {% if object.audio_file %}
    <button id="button_{{ object.pk }}" type="button" class="btn btn-success js-play" data-id="{{ object.pk }}"
            data-audio-url="{{ object.audio_url }}{{ object.audio_file }}.{{ file_type }}"><i class="fa fa-play fa-fw"></i> Play</button>
    {% endif %}
    {% if perms.radio.download_audio %}
    <a class="btn btn-default" href="{% url 'download' object.slug %}"><i class="fa fa-download fa-fw"></i> Download</a>
    {% endif %}
    <a class="btn btn-default" href="{{ tg.get_absolute_url }}"><i class="fa fa-filter fa-fw"></i> More from {{ tg.alpha_tag }}</a>
  </p>

  <table class="table table-condensed detail-table">
    <tr><th>Talkgroup</th><td><a href="{{ tg.get_absolute_url }}">{{ tg.alpha_tag }}</a>{% if tg.description %} &middot; {{ tg.description }}{% endif %}
      <span class="text-muted">({{ tg.dec_id }})</span>{% if user.is_staff %} <a href="/admin/radio/talkgroup/{{ tg.pk }}/change/" class="small">edit</a>{% endif %}</td></tr>
    <tr><th>Time</th><td>{{ object.start_datetime }}</td></tr>
    <tr><th>Length</th><td>{{ object.print_play_length }}</td></tr>
    <tr><th>Units</th><td>
      {% for u in object.units.all %}<a href="/unit/{{ u.slug }}/">{% if u.description %}{{ u.description }}{% else %}#{{ u.dec_id }}{% endif %}</a>{% if user.is_staff %} <a href="/admin/radio/unit/{{ u.pk }}/change/" class="small">edit</a>{% endif %}{% if not forloop.last %}, {% endif %}{% empty %}<span class="text-muted">none heard</span>{% endfor %}
    </td></tr>
    {% if incidents %}
    <tr><th>Incidents</th><td>{% for inc in incidents %}<a href="{% url 'incident' inc.slug %}">{{ inc.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td></tr>
    {% endif %}
    <tr><th>Frequency</th><td>{{ object.freq_mhz }} MHz</td></tr>
    <tr><th>System</th><td>{{ object.system }}</td></tr>
    <tr><th>Recorded by</th><td>{{ object.source }}</td></tr>
    {% if object.duplicate_of %}
    <tr><th>Duplicate</th><td>Another recorder also recorded this call, the
      <a href="{{ object.duplicate_of.get_absolute_url }}">recording from {{ object.duplicate_of.source }}</a> is the one listed</td></tr>
    {% endif %}
    {% with dupes=object.duplicates.all %}{% if dupes %}
    <tr><th>Other recordings</th><td>{% for d in dupes %}<a href="{{ d.get_absolute_url }}">{{ d.source }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td></tr>
    {% endif %}{% endwith %}
    {% if user.is_staff %}
    <tr><th>Audio file</th><td>{% if object.audio_file %}<a href="{{ object.audio_url }}{{ object.audio_file }}.{{ file_type }}">{{ object.audio_file }}.{{ file_type }}</a>{% else %}none{% endif %}
      &middot; <a href="/admin/radio/transmission/{{ object.pk }}/change/" class="small">edit call</a></td></tr>
    {% endif %}
  </table>

  <div id="jPlayer"><div id="jquery_jplayer_1"></div></div>
  {% include "radio/page_footer.html" %}
</div>
{% endwith %}
{% endblock %}
