{% extends "radio/site_base.html" %}
{% load radio_extras %}
{% block head %}
{{ form.media.css }}
{% endblock %}
{% block main-body %}
<div class="container">
  <div class="row-no-border row">
    <div class="user-profile-user">
      <h3>New Scan List</h3>
      <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <table class="profile-table">
        {{ form.as_table }}
        </table>
        <input type="submit" class="btn btn-primary" value="Create Scan List">
        <a href="{% url 'user_profile' %}">Cancel</a>
      </form>
    </div>
  </div>
</div>
{{ form.media.js }}
{% endblock %}
